<div>
    <h1 class="staff-header"> Airline Staff</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Flight-Id</th>
                <th scope="col">Flight-code</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">duration</th>
                <th scope="col">Services</th>
                <th scope="col">Passengers</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights; let i=index">
                <td>{{ flight['id'] }}</td>
                <td>{{ flight['flightCode'] }}</td>
                <td>{{ flight['departureStation'] }}</td>
                <td>{{ flight['arrivalStation'] }}</td>
                <td>{{ flight['Duration'] }}</td>
                <td>
                    <a routerLink="/staff/check-In/{{ flight.flightNumber }}" mat-raised-button class="add">Check-In</a>
                </td>
                <td><a routerLink="/staff/In-flight/{{ flight.flightNumber }}" mat-raised-button class="add">In-Flight</a></td>
            </tr>
        </tbody>
    </table>

</div>